<div class="counter-box">
    <div id="counter-label" class="counter-label">HATCHING PROGRESS</div>
    <!-- ZOSTAW WSZYSTKO CZYSTE W ŚRODKU SPANA! JS SAM WSZYSTKO WSTAWI -->
    <div class="counter-value"><span id="clicks">0</span></div>
</div>

<div class="game-area">
    <div class="egg-wrapper" id="main-interactive-btn">
        <img src="img/eggs/egg_starter.png" id="main-img" class="egg-img" alt="Petopia Interactive">
    </div>
</div>

<div class="energy-container">
        <div class="energy-info">
            <span>⚡ Energy</span>
            <span id="energy-text">1000 / 1000</span>
        </div>
        <div class="energy-bar-bg">
            <div id="energy-bar-fill" class="energy-bar-fill" style="width: 100%;"></div>
        </div>
    </div>
</div>
